.App-header {
  background-color: #01579b;
  height: 30vh;
  color: #F5F5F5;
}

.heading {
  font-size: 5em;
  font-family: 'Righteous', cursive;
  margin-top: 0vh;
  padding-top: 5vh;
}

.about-card {
  top: 15vh;
}

.signup {
  font-size: 2em;
  top: 40vh;
}
 
.button-text {
  color: #fff;
} 

.navpanel {
  display: inline-block;
}

.collection {
  height: 100%;
}

.collection-item {
  padding: 10px 5px;
}

.sample-user {
  margin-top: 5vh;
}