.App-header {
  background-color: #01579b;
  height: 35vh;
  color: #fff8e1;
}

.heading {
  font-size: 5em;
  font-family: 'Righteous', cursive;
}

.about-card {
  top: 15vh;
}

.signup {
  font-size: 2em;
  top: 40vh;
}

.signup-text {
  color: #fff;
}

.navpanel {
  height: 100%;
  padding-top: 15px;
  display: inline-block;
}

.user-card {
  padding: 15px 10px;
}